In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df['species'].value_counts() #어떤칼럼에대해 값별 숫자

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [4]:
len(df) #행갯수

150

In [5]:
df['species'].nunique() # 칼럼값 출력(중복되지않는)

3

In [6]:
df.describe() #통계적수치를 표시

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
df.describe(include='all') # include = 'all' : 범주형까지 출력

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [8]:
df.describe(include=[np.number]) #수치형 표시

NameError: name 'np' is not defined

In [ ]:
df.describe(include=[np.object]) #범주형 표시

In [ ]:
df['petal_width'].count()

In [ ]:
df['petal_width'].sum()

In [ ]:
df.sum() #칼럼지정안할시 전부출력

In [ ]:
df['petal_width'].mean()

In [ ]:
df['petal_width'].median()

In [ ]:
df['petal_width'].quantile([0.25,0.75]) # 사분위수

In [ ]:
df.min()

In [ ]:
df.max()

In [ ]:
df.var()

In [ ]:
df.std()