In [1]:
import pandas as pd

In [2]:
pd.concat?

In [3]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])

In [6]:
pd.concat([s1, s2]) #인덱스번호가 0,1,0,1

0    a
1    b
0    c
1    d
dtype: object

In [7]:
pd.concat([s1, s2],ignore_index=True) # ignore_index  = True : 인덱스번호를 순차적으로표시

0    a
1    b
2    c
3    d
dtype: object

In [9]:
pd.concat([s1, s2], keys=['s1', 's2'], names=['Series name', 'Row ID']) # 키생성, 시리즈는 칼럼명을 names로 수정시리즈는 칼럼명을 names로 수정

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

In [13]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
df1

  letter  number
0      a       1
1      b       2

In [14]:
df2 = pd.DataFrame([['c', 3], ['d', 4]],
...                    columns=['letter', 'number'])
df2

  letter  number
0      c       3
1      d       4

In [16]:
pd.concat([df1,df2],ignore_index = True)

  letter  number
0      a       1
1      b       2
2      c       3
3      d       4

In [17]:
>>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
...                    columns=['letter', 'number', 'animal'])
>>> df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [18]:
pd.concat([df1,df3])

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

In [19]:
pd.concat([df1,df3],join='inner') # 내부조인

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [20]:
>>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
...                    columns=['animal', 'name'])
df4

   animal    name
0    bird   polly
1  monkey  george

In [21]:
df5 = pd.DataFrame([1], index=['a'])
df5

   0
a  1

In [22]:
>>> df6 = pd.DataFrame([2], index=['a'])
>>> df6

   0
a  2

In [23]:
>>> pd.concat([df5, df6])

   0
a  1
a  2