* 세로로 합칠대는 주로 concat이용, 가로로합칠때는 merge이용

In [1]:
import pandas as pd

In [4]:
adf = pd.DataFrame({'x1':['A','B','C'],'x2': [1,2,3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [5]:
bdf = pd.DataFrame({'x1':['A','B','D'],'x3': ['T','F','T']})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [6]:
pd.merge(adf,bdf,how='left',on='x1') # on='x1' : x1을 키로설정
                                     # how='left' : adf를 기준으로 병합

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [7]:
pd.merge(adf,bdf,how='right',on='x1')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [8]:
pd.merge(adf,bdf,how='inner',on='x1') #내부조인

  x1  x2 x3
0  A   1  T
1  B   2  F

In [9]:
pd.merge(adf,bdf,how='outer',on='x1') #외부조인

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [13]:
adf.x1.isin(bdf.x1) # adf의x1칼럼값과 bdf의x1칼럼값비교, adf.x1기준 있는값은 True 없는값은 False

0     True
1     True
2    False
Name: x1, dtype: bool

In [12]:
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [15]:
adf[~adf.x1.isin(bdf.x1)] # ~ : 반대되는결과값 표시

  x1  x2
2  C   3

In [17]:
ydf = pd.DataFrame({"x1" : ["A","B","C"], "x2" : [1,2,3]})
ydf

  x1  x2
0  A   1
1  B   2
2  C   3

In [18]:
zdf = pd.DataFrame({"x1" : ["B","C","D"], "x2" : [2,3,4]})
zdf

  x1  x2
0  B   2
1  C   3
2  D   4

In [19]:
pd.merge(ydf,zdf)

  x1  x2
0  B   2
1  C   3

In [24]:
pd.merge(ydf,zdf,how = "outer",indicator = True) # indicator=True : _merge칼럼생성(어떻게 병합했는지 표시)

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

In [31]:

pd.merge(ydf,zdf, how="outer",indicator = True).query('_merge == "left_only"').drop(columns=['_merge'])

  x1  x2
0  A   1