In [8]:
import pandas as pd
import numpy as np

In [15]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1  0.232444
1   2 -0.363196
2   3  1.205939
3   4  1.169083
4   5 -1.099268
5   6  1.246388
6   7 -0.567159
7   8 -0.884834
8   9 -0.635398
9  10  1.241307

In [6]:
df.assign?

In [17]:
df.assign(ln_A=lambda x: np.log(x.A))

    A         B      ln_A
0   1  0.232444  0.000000
1   2 -0.363196  0.693147
2   3  1.205939  1.098612
3   4  1.169083  1.386294
4   5 -1.099268  1.609438
5   6  1.246388  1.791759
6   7 -0.567159  1.945910
7   8 -0.884834  2.079442
8   9 -0.635398  2.197225
9  10  1.241307  2.302585

In [21]:
df['ln_A'] = np.log(df.A)
df

    A         B      ln_A
0   1  0.232444  0.000000
1   2 -0.363196  0.693147
2   3  1.205939  1.098612
3   4  1.169083  1.386294
4   5 -1.099268  1.609438
5   6  1.246388  1.791759
6   7 -0.567159  1.945910
7   8 -0.884834  2.079442
8   9 -0.635398  2.197225
9  10  1.241307  2.302585

In [25]:
pd.qcut(range(7), 3, labels=['good','medium','bad'])

['good', 'good', 'good', 'medium', 'medium', 'bad', 'bad']
Categories (3, object): ['good' < 'medium' < 'bad']

In [22]:
pd.qcut(df.B, 2, labels=["good", "bad"])

0     bad
1    good
2     bad
3     bad
4    good
5     bad
6    good
7    good
8    good
9     bad
Name: B, dtype: category
Categories (2, object): ['good' < 'bad']

In [27]:
df.max(axis=0)

A       10.000000
B        1.246388
ln_A     2.302585
dtype: float64

In [28]:
df.min(axis=1)

0    0.000000
1   -0.363196
2    1.098612
3    1.169083
4   -1.099268
5    1.246388
6   -0.567159
7   -0.884834
8   -0.635398
9    1.241307
dtype: float64

In [29]:
df

    A         B      ln_A
0   1  0.232444  0.000000
1   2 -0.363196  0.693147
2   3  1.205939  1.098612
3   4  1.169083  1.386294
4   5 -1.099268  1.609438
5   6  1.246388  1.791759
6   7 -0.567159  1.945910
7   8 -0.884834  2.079442
8   9 -0.635398  2.197225
9  10  1.241307  2.302585

In [32]:
df['A'].clip(lower=-10, upper=-3) # 임계치를 설정해서 값을 바꿔준다

0   -3
1   -3
2   -3
3   -3
4   -3
5   -3
6   -3
7   -3
8   -3
9   -3
Name: A, dtype: int64

In [34]:
df['B'].abs() # 절대값 으로 바꾸기

0    0.232444
1    0.363196
2    1.205939
3    1.169083
4    1.099268
5    1.246388
6    0.567159
7    0.884834
8    0.635398
9    1.241307
Name: B, dtype: float64